body {
    background-color:#948a5b;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
}

.menu-lateral {
  width: 200px;
  background-color: #1f1f1f;
  color: black;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  position: fixed;
  left: 0;
  top: 0;
}

.menu-lateral ul {
    list-style-type: none;
    padding: 0; 
    margin: 0;
}

.menu-lateral li {
    margin-bottom: 20px;
}

.menu-lateral a {
    color: #a8a8a8;
    text-decoration: none;
    font-size: 20px;
    display: block;
    padding: 10px;
    border-radius: 5px;
}

.menu-lateral a:hover {
    background-color: #8b771e;
    color: white;
}

.conteudo-pagina {
    margin-left: 270px;
    padding: 20px;
    text-align: center;
}

ul {
    list-style-position: inside;
    padding: 0;
    text-align: center;
}

.botao {
    display: inline-block;
    padding: 20px 60px;
    background-color: #333;
    color: #fff;
    text-decoration: none
}
.botao:hover {
    background-color: #000000;
}

.contato {
    max-width: 400px;          
    margin: 20px auto;         
    padding: 20px;
    background: #515151;       
    border-radius: 8px;       
    font-family: Arial, sans-serif;
}

.contato label {
    display: block;            
    margin-bottom: 5px;       
    font-weight: bold;
    color: #ffffff;
}

.contato input,.contato textarea {
    width: 90%;               
    padding: 10px;
    margin-bottom: 15px;       
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.contato textarea {
    height: 100px;
    resize: vertical;          
}

.contato button {
    width: 100%;
    padding: 12px;
    background: #fdfdfd;
    color: #000000;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.contato button:hover {
    background: #cbcbcb;
}